body{

	background-color:#f4f4f4;
	color:#555555;

	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:0;
}
.container{
	color: brown;
	width:85%;
	margin-top:5%;
	margin-bottom: 40%;
	margin-right: 50%;
	margin-left: 35%;

}

.button{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}

.clr{
	clear:both;
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"]{
	padding:8px;
	width:20%;
}

.my-form input[type="password"]{
	padding:8px;
	width:20%;
}
.my-form input[type="email"]{
	padding:8px;
	width:20%;
}



